.callback.section
  .container
    .row.justify-content-center
      form.callback__form.form.col-6(action="/" method="post")
        h2.callback__title GIVE US A GOOD NEWS
        +field("Name", 'name', "text", "callback__placeinput")
        +field("Email", 'email', "email", "callback__placeinput")
        +field("Subject", 'subject', "text", "callback__placeinput")
        +textarea("Your Massage", 'message', "callback__placetextarea")
        button.callback__button.btn submit