.callback
  &__form
    display: flex
    align-items: center
    flex-direction: column
    text-align: center
  &__title
    margin-bottom: 35px
  &__placeinput
    margin-bottom: 23px
    width: 100%
    &:last-child
      margin-bottom: 0
  &__placetextarea
    margin-bottom: 15px
    width: 100%
    &:last-child
      margin-bottom: 0