section.equipment.section
  .wrap
    .section__inner
      .equipment__section-header.section-header
        h2.title  
          | Наше оборудование 
      .equipment__content-slider.content-slider
        .content-slider__item-wrap
          .content-slider__item
            .content-slider__img
              img.content-slider__img-bg(src="assets/img/general/bg-shape.png" alt="equipment")
              img(src="assets/img/general/equipment.png" alt="equipment")
            .content-slider__content
              h3.content-slider__title.title 3D-принтер Form2
              p.content-slider__text Следуя принципу непрерывного обучения и обновления оборудования, в сети стоматологий «ЭспаДент» для создания коронок, протезов, хирургических шаблонов, ортопедических конструкций используется 3D принтер Form2 компании FormLabs.
              ul.list-success.list-success--white
                li Высокое качество 
                li Максимальная точность
                li Скорость работы
        .content-slider__item-wrap
          .content-slider__item
            .content-slider__img
              img.content-slider__img-bg(src="assets/img/general/bg-shape.png" alt="equipment")
              img(src="assets/img/general/equipment.png" alt="equipment")
            .content-slider__content
              h3.content-slider__title.title 3D-принтер Form2
              p.content-slider__text Следуя принципу непрерывного обучения и обновления оборудования, в сети стоматологий «ЭспаДент» для создания коронок, протезов, хирургических шаблонов, ортопедических конструкций используется 3D принтер Form2 компании FormLabs.
              ul.list-success.list-success--white
                li Высокое качество 
                li Максимальная точность
                li Скорость работы
        .content-slider__item-wrap
          .content-slider__item
            .content-slider__img
              img.content-slider__img-bg(src="assets/img/general/bg-shape.png" alt="equipment")
              img(src="assets/img/general/equipment.png" alt="equipment")
            .content-slider__content
              h3.content-slider__title.title 3D-принтер Form2
              p.content-slider__text Следуя принципу непрерывного обучения и обновления оборудования, в сети стоматологий «ЭспаДент» для создания коронок, протезов, хирургических шаблонов, ортопедических конструкций используется 3D принтер Form2 компании FormLabs.
              ul.list-success.list-success--white
                li Высокое качество 
                li Максимальная точность
                li Скорость работы
        .content-slider__item-wrap
          .content-slider__item
            .content-slider__img
              img.content-slider__img-bg(src="assets/img/general/bg-shape.png" alt="equipment")
              img(src="assets/img/general/equipment.png" alt="equipment")
            .content-slider__content
              h3.content-slider__title.title 3D-принтер Form2
              p.content-slider__text Следуя принципу непрерывного обучения и обновления оборудования, в сети стоматологий «ЭспаДент» для создания коронок, протезов, хирургических шаблонов, ортопедических конструкций используется 3D принтер Form2 компании FormLabs.
              ul.list-success.list-success--white
                li Высокое качество 
                li Максимальная точность
                li Скорость работы
        .content-slider__item-wrap
          .content-slider__item
            .content-slider__img
              img.content-slider__img-bg(src="assets/img/general/bg-shape.png" alt="equipment")
              img(src="assets/img/general/equipment.png" alt="equipment")
            .content-slider__content
              h3.content-slider__title.title 3D-принтер Form2
              p.content-slider__text Следуя принципу непрерывного обучения и обновления оборудования, в сети стоматологий «ЭспаДент» для создания коронок, протезов, хирургических шаблонов, ортопедических конструкций используется 3D принтер Form2 компании FormLabs.
              ul.list-success.list-success--white
                li Высокое качество 
                li Максимальная точность
                li Скорость работы
        .content-slider__item-wrap
          .content-slider__item
            .content-slider__img
              img.content-slider__img-bg(src="assets/img/general/bg-shape.png" alt="equipment")
              img(src="assets/img/general/equipment.png" alt="equipment")
            .content-slider__content
              h3.content-slider__title.title 3D-принтер Form2
              p.content-slider__text Следуя принципу непрерывного обучения и обновления оборудования, в сети стоматологий «ЭспаДент» для создания коронок, протезов, хирургических шаблонов, ортопедических конструкций используется 3D принтер Form2 компании FormLabs.
              ul.list-success.list-success--white
                li Высокое качество 
                li Максимальная точность
                li Скорость работы
        .content-slider__item-wrap
          .content-slider__item
            .content-slider__img
              img.content-slider__img-bg(src="assets/img/general/bg-shape.png" alt="equipment")
              img(src="assets/img/general/equipment.png" alt="equipment")
            .content-slider__content
              h3.content-slider__title.title 3D-принтер Form2
              p.content-slider__text Следуя принципу непрерывного обучения и обновления оборудования, в сети стоматологий «ЭспаДент» для создания коронок, протезов, хирургических шаблонов, ортопедических конструкций используется 3D принтер Form2 компании FormLabs.
              ul.list-success.list-success--white
                li Высокое качество 
                li Максимальная точность
                li Скорость работы
      .equipment__gallery-panel.gallery-panel#equipment-gallery-panel
        div
          .gallery-panel__item
            .gallery-panel__img
              img(src="assets/img/general/history1.png" alt="history")
        div
          .gallery-panel__item
            .gallery-panel__img
              img(src="assets/img/general/history2.png" alt="history")
        div
          .gallery-panel__item
            .gallery-panel__img
              img(src="assets/img/general/history3.png" alt="history")
        div
          .gallery-panel__item
            .gallery-panel__img
              img(src="assets/img/general/history4.png" alt="history")
        div
          .gallery-panel__item
            .gallery-panel__img
              img(src="assets/img/general/history5.png" alt="history")
        div
          .gallery-panel__item
            .gallery-panel__img
              img(src="assets/img/general/history6.png" alt="history")
        div
          .gallery-panel__item
            .gallery-panel__img
              img(src="assets/img/general/history6.png" alt="history")