.testimonials.section.section--dark
  .container
    .row.testimonials__inner
        .testimonials__slider
          div
            .testimonials__item
              .testimonials__icon.icon-quote
              .col-10.testimonials__textContent
                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
              .col-6.col-sm-4.testimonials__author.author
                h3 JANE GALADRIEL1
                p CEO TENGKUREP
          div
            .testimonials__item
              .testimonials__icon.icon-quote
              .col-10.testimonials__textContent
                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
              .col-6.col-sm-4.testimonials__author.author
                h3 JANE GALADRIEL4
                p CEO TENGKUREP
          div
            .testimonials__item
              .testimonials__icon.icon-quote
              .col-10.testimonials__textContent
                p This is Phonare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
              .col-6.col-sm-4.testimonials__author.author
                h3 JANE GALADRIEL3
                p CEO TENGKUREP
          div
            .testimonials__item
              .testimonials__icon.icon-quote
              .col-10.testimonials__textContent
                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare om quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare om quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
              .col-6.col-sm-4.testimonials__author.author
                h3 JANE GALADRIEL4
                p CEO TENGKUREP
          div
            .testimonials__item
              .testimonials__icon.icon-quote
              .col-10.testimonials__textContent
                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
              .col-6.col-sm-4.testimonials__author.author
                h3 JANE GALADRIEL5
                p CEO TENGKUREP
        .col-md-6.col-lg-4.testimonials__profiles.profiles
          div
            .profiles__item
              img(src="assets/img/general/profile1.png" alt="profile")
          div
            .profiles__item
              img(src="assets/img/general/profile2.png" alt="profile")
          div
            .profiles__item
              img(src="assets/img/general/profile3.png" alt="profile")
          div
            .profiles__item
              img(src="assets/img/general/profile4.png" alt="profile")
          div
            .profiles__item
              img(src="assets/img/general/profile5.png" alt="profile")
        