.testimonials
  background-image: url(~_images/content/testimonials.png)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  &__item,
  &__inner
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
  &__icon
    margin-bottom: 40px
  &__slider
    max-width: 100%
    .slick-slide
      opacity: 0
      transition: opacity $trst
      &:focus
        outline: none
    .slick-slide.slick-current
      opacity: 1
  &__textContent
    margin-bottom: 45px
    p
      color: rgba(255, 255, 255, .85)
      font-size: 16px
      font-weight: 400
      line-height: 26px
      font-family: "PlayfairDisplay", sans-serif
  &__author
    margin-bottom: 37px
.profiles
  padding: 0
  .slick-slide:focus,
  .slick-slide div:focus,
  .slick-slide img:focus
    outline: none
  .slick-slide
    padding: 0 7px
    font-size: 0
    line-height: 0
    height: 70px
    display: flex
    align-items: center
    justify-content: center
  .slick-slide.slick-current
    width: 84px
    .profiles__item
      transform: scale(1.55555555556)
  &__item
    width: 45px
    height: 45px
    border-radius: 50%
    transition: transform $trst, opacity $trst
    cursor: pointer
    &:hover
      opacity: .85
    &:focus
      outline: none
    img
      width: 100%
.icon-quote
   @include sprite($quote)