.team.section.section--dark
  .container
    .row.team__inner.justify-content-md-center
      .col-12.section__title.team__title
        h2 MEET OUR AMAZING TEAM
        p Lorem ipsum dolor sit amet proin gravida nibh vel velit
      .col-12.col-md-9.col-lg-12
        .row.team__list
          .col-9.col-sm-6.col-lg-3.team__item
            +team-card('SEMF UCUK', 'CEO & FOUNDER')
          .col-9.col-sm-6.col-lg-3.team__item
            +team-card('DIK ADALIN', 'ENGINEERING')
          .col-9.col-sm-6.col-lg-3.team__item 
            +team-card('JENG KOL', 'DESIGNER')
          .col-9.col-sm-6.col-lg-3.team__item 
            +team-card('PET ROMAK', 'MARKETING')
      .col-12.text--light
        p.team__text Become part of our dream team, let’s join us ! 
      .col-12
        a.team__link.btn(href="#") WE ARE HIRING