section.services.section
  .wrap
    .services__inner
      h2.services__title.title Наши услуги
      .sevives__slider
        div.services__item
          .service-card
            h3.service-card__title Восстановить зуб
            .service-card__list
              a.service-card__item(href="#") Коронки
              a.service-card__item(href="#") Имплантация
              a.service-card__item(href="#") Реставрация зубов
              a.service-card__item(href="#") Восстановать зуб
            .service-card__img
              img(src="assets/img/general/services1.png")
        div.services__item
          .service-card.service-card--orange
            h3.service-card__title Восстановить все зубы
            .service-card__list
              a.service-card__item(href="#") All-on-4
              a.service-card__item(href="#") All-on-6
              a.service-card__item(href="#") Все зубы за 1 день
            .service-card__img
              img(src="assets/img/general/services2.png")
        div.services__item
          .service-card.service-card--pink
            h3.service-card__title Вылечить зубы
            .service-card__list
              a.service-card__item(href="#") Лечение
              a.service-card__item(href="#") Чистка
              a.service-card__item(href="#") Удаление зубов
            .service-card__img
              img(src="assets/img/general/services3.png")
        div.services__item
          .service-card.service-card--dark-blue
            h3.service-card__title Красивая улыбка
            .service-card__list
              a.service-card__item(href="#") Виниры
              a.service-card__item(href="#") Брекеты
              a.service-card__item(href="#") Отбеливание
            .service-card__img
              img(src="assets/img/general/services4.png")
        div.services__item
          .service-card.service-card--pink
            h3.service-card__title Удаление зуба
            .service-card__list
              a.service-card__item(href="#") Лечение
              a.service-card__item(href="#") Чистка
              a.service-card__item(href="#") Удаление зубов
            .service-card__img
              img(src="assets/img/general/services2.png")
      a.services__button.btn.btn--fill(href="#") Перейти к услугам