section.comment-stars.section
    .wrap
      .section
        h2.comment-stars__title.title Звёзды выбирают ЭспаДент
        .comment-stars__video-slider.video-slider
          .video-slider__item-wrap
            .video-slider__item
              .video-slider__content
                h3.video-slider__title.title Татьяна Судец
                p.video-slider__text 
                  | Телеведущая, диктор центрального телевидения 
                  br
                  | Заслуженная артистка РФ
                p.video-slider__text Белые зубы это не только эстетическая сторона. Открытая улыбка располагает к себе собеседника и придает уверенность своему обладателю.Белые зубы это не только эстетическая сторона. Открытая улыбка располагает к себе собеседника и придает уверенность своему обладателю.» 
              a.video-slider__video.video(data-fancybox href="https://vimeo.com/191947042")
                img(src="assets/img/general/promo-video.png" alt="video")
                .video__play.play
                  +svg('play', 'play__svg')
          .video-slider__item-wrap
            .video-slider__item
              .video-slider__content
                h3.video-slider__title.title Татьяна Судец
                p.video-slider__text 
                  | Телеведущая, диктор центрального телевидения 
                  br
                  | Заслуженная артистка РФ
                p.video-slider__text Белые зубы это не только эстетическая сторона. Открытая улыбка располагает к себе собеседника и придает уверенность своему обладателю.Белые зубы это не только эстетическая сторона. Открытая улыбка располагает к себе собеседника и придает уверенность своему обладателю.» 
              a.video-slider__video.video(data-fancybox href="https://vimeo.com/191947042")
                img(src="assets/img/general/promo-video.png" alt="video")
                .video__play.play
                  +svg('play', 'play__svg')
          .video-slider__item-wrap
            .video-slider__item
              .video-slider__content
                h3.video-slider__title.title Татьяна Судец
                p.video-slider__text 
                  | Телеведущая, диктор центрального телевидения 
                  br
                  | Заслуженная артистка РФ
                p.video-slider__text Белые зубы это не только эстетическая сторона. Открытая улыбка располагает к себе собеседника и придает уверенность своему обладателю.Белые зубы это не только эстетическая сторона. Открытая улыбка располагает к себе собеседника и придает уверенность своему обладателю.» 
              a.video-slider__video.video(data-fancybox href="https://vimeo.com/191947042")
                img(src="assets/img/general/promo-video.png" alt="video")
                .video__play.play
                  +svg('play', 'play__svg')
          .video-slider__item-wrap
            .video-slider__item
              .video-slider__content
                h3.video-slider__title.title Татьяна Судец
                p.video-slider__text 
                  | Телеведущая, диктор центрального телевидения 
                  br
                  | Заслуженная артистка РФ
                p.video-slider__text Белые зубы это не только эстетическая сторона. Открытая улыбка располагает к себе собеседника и придает уверенность своему обладателю.Белые зубы это не только эстетическая сторона. Открытая улыбка располагает к себе собеседника и придает уверенность своему обладателю.» 
              a.video-slider__video.video(data-fancybox href="https://vimeo.com/191947042")
                img(src="assets/img/general/promo-video.png" alt="video")
                .video__play.play
                  +svg('play', 'play__svg')
        .comment-stars__panel-slider.panel-slider
          .panel-slider__item
            .card-person
              .card-person__content
                p.card-person__desc Актриса кино и театра
                p.card-person__name
                  | Ранета 
                  br
                  | Волкобурова
              .card-person__img
                img(src="assets/img/general/person1.png" alt="person")
          .panel-slider__item
            .card-person
              .card-person__content
                p.card-person__desc Актриса кино и театра
                p.card-person__name
                  | Ранета 
                  br
                  | Волкобурова
              .card-person__img
                img(src="assets/img/general/person1.png" alt="person")
          .panel-slider__item
            .card-person
              .card-person__content
                p.card-person__desc Актриса кино и театра
                p.card-person__name
                  | Ранета 
                  br
                  | Волкобурова
              .card-person__img
                img(src="assets/img/general/person1.png" alt="person")
          .panel-slider__item
            .card-person
              .card-person__content
                p.card-person__desc Актриса кино и театра
                p.card-person__name
                  | Ранета 
                  br
                  | Волкобурова
              .card-person__img
                img(src="assets/img/general/person1.png" alt="person")