.history
  padding: 36px 0 55px
  overflow: hidden
  background-image: linear-gradient(109.14deg, #F3F7FB -4.47%, #DEE8F4 97.39%)
  +min(768)
    padding: 55px 0 70px
  +min(1200)
    padding: 105px 0 116px
  &__social-list
    margin-bottom: 40px
  &__section-header
    margin-bottom: 64px
    display: none
    +min(991)
      display: flex
  .section-header__text
    +min(1200)
      margin-right: 63px
      margin-top: 13px
  &__gallery-panel
    margin-bottom: 39px
    +min(768)
      margin-bottom: 69px
