section.history.section
  .wrap
    .section__inner.history__inner
      .history__slider-info.slider-info
        .slider-info__item
          .slider-info__content
            h3.slider-info__title.title История «ЭспаДент» началась более 17 лет назад с одной зуботехнической лаборатории. 
            ul.slider-info__list.list-success.list-success--white
              li 
                b Первая клиника 
                | открылась в 2005 году по адресу Мишина 38. 
              li 
                b На данный момент 
                | у центра «Эспадент» есть 6 отделений в Москве.
              li 
                b Основными направлениями деятельности: 
                | протезирование по методике ALL-ON-4, одномоментная имплантация зубов, ортодонтия, художественная реставрация и отбеливание зубов. 
              li 
                b Проведено более 3 000 
                | успешных операций
              li 
                b Собственная лаборатория, 
                | укомплектованная CAD/CAM оборудованием
          .slider-info__img
            img(src="assets/img/general/history-main.png" alt="history")
        .slider-info__item
          .slider-info__content
            h3.slider-info__title.title История «ЭспаДент» началась более 17 лет назад с одной зуботехнической лаборатории. 
            ul.slider-info__list.list-success.list-success--white
              li 
                b Первая клиника 
                | открылась в 2005 году по адресу Мишина 38. 
              li 
                b На данный момент 
                | у центра «Эспадент» есть 6 отделений в Москве.
              li 
                b Основными направлениями деятельности: 
                | протезирование по методике ALL-ON-4, одномоментная имплантация зубов, ортодонтия, художественная реставрация и отбеливание зубов. 
              li 
                b Проведено более 3 000 
                | успешных операций
              li 
                b Собственная лаборатория, 
                | укомплектованная CAD/CAM оборудованием
          .slider-info__img
            img(src="assets/img/general/history-main.png" alt="history")
        .slider-info__item
          .slider-info__content
            h3.slider-info__title.title История «ЭспаДент» началась более 17 лет назад с одной зуботехнической лаборатории. 
            ul.slider-info__list.list-success.list-success--white
              li 
                b Первая клиника 
                | открылась в 2005 году по адресу Мишина 38. 
              li 
                b На данный момент 
                | у центра «Эспадент» есть 6 отделений в Москве.
              li 
                b Основными направлениями деятельности: 
                | протезирование по методике ALL-ON-4, одномоментная имплантация зубов, ортодонтия, художественная реставрация и отбеливание зубов. 
              li 
                b Проведено более 3 000 
                | успешных операций
              li 
                b Собственная лаборатория, 
                | укомплектованная CAD/CAM оборудованием
          .slider-info__img
            img(src="assets/img/general/history-main.png" alt="history")
        .slider-info__item
          .slider-info__content
            h3.slider-info__title.title История «ЭспаДент» началась более 17 лет назад с одной зуботехнической лаборатории. 
            ul.slider-info__list.list-success.list-success--white
              li 
                b Первая клиника 
                | открылась в 2005 году по адресу Мишина 38. 
              li 
                b На данный момент 
                | у центра «Эспадент» есть 6 отделений в Москве.
              li 
                b Основными направлениями деятельности: 
                | протезирование по методике ALL-ON-4, одномоментная имплантация зубов, ортодонтия, художественная реставрация и отбеливание зубов. 
              li 
                b Проведено более 3 000 
                | успешных операций
              li 
                b Собственная лаборатория, 
                | укомплектованная CAD/CAM оборудованием
          .slider-info__img
            img(src="assets/img/general/history-main.png" alt="history")
        .slider-info__item
          .slider-info__content
            h3.slider-info__title.title История «ЭспаДент» началась более 17 лет назад с одной зуботехнической лаборатории. 
            ul.slider-info__list.list-success.list-success--white
              li 
                b Первая клиника 
                | открылась в 2005 году по адресу Мишина 38. 
              li 
                b На данный момент 
                | у центра «Эспадент» есть 6 отделений в Москве.
              li 
                b Основными направлениями деятельности: 
                | протезирование по методике ALL-ON-4, одномоментная имплантация зубов, ортодонтия, художественная реставрация и отбеливание зубов. 
              li 
                b Проведено более 3 000 
                | успешных операций
              li 
                b Собственная лаборатория, 
                | укомплектованная CAD/CAM оборудованием
          .slider-info__img
            img(src="assets/img/general/history-main.png" alt="history")
        .slider-info__item
          .slider-info__content
            h3.slider-info__title.title История «ЭспаДент» началась более 17 лет назад с одной зуботехнической лаборатории. 
            ul.slider-info__list.list-success.list-success--white
              li 
                b Первая клиника 
                | открылась в 2005 году по адресу Мишина 38. 
              li 
                b На данный момент 
                | у центра «Эспадент» есть 6 отделений в Москве.
              li 
                b Основными направлениями деятельности: 
                | протезирование по методике ALL-ON-4, одномоментная имплантация зубов, ортодонтия, художественная реставрация и отбеливание зубов. 
              li 
                b Проведено более 3 000 
                | успешных операций
              li 
                b Собственная лаборатория, 
                | укомплектованная CAD/CAM оборудованием
          .slider-info__img
            img(src="assets/img/general/history-main.png" alt="history")
        .slider-info__item
          .slider-info__content
            h3.slider-info__title.title История «ЭспаДент» началась более 17 лет назад с одной зуботехнической лаборатории. 
            ul.slider-info__list.list-success.list-success--white
              li 
                b Первая клиника 
                | открылась в 2005 году по адресу Мишина 38. 
              li 
                b На данный момент 
                | у центра «Эспадент» есть 6 отделений в Москве.
              li 
                b Основными направлениями деятельности: 
                | протезирование по методике ALL-ON-4, одномоментная имплантация зубов, ортодонтия, художественная реставрация и отбеливание зубов. 
              li 
                b Проведено более 3 000 
                | успешных операций
              li 
                b Собственная лаборатория, 
                | укомплектованная CAD/CAM оборудованием
          .slider-info__img
            img(src="assets/img/general/history-main.png" alt="history")
        .slider-info__item
          .slider-info__content
            h3.slider-info__title.title История «ЭспаДент» началась более 17 лет назад с одной зуботехнической лаборатории. 
            ul.slider-info__list.list-success.list-success--white
              li 
                b Первая клиника 
                | открылась в 2005 году по адресу Мишина 38. 
              li 
                b На данный момент 
                | у центра «Эспадент» есть 6 отделений в Москве.
              li 
                b Основными направлениями деятельности: 
                | протезирование по методике ALL-ON-4, одномоментная имплантация зубов, ортодонтия, художественная реставрация и отбеливание зубов. 
              li 
                b Проведено более 3 000 
                | успешных операций
              li 
                b Собственная лаборатория, 
                | укомплектованная CAD/CAM оборудованием
          .slider-info__img
            img(src="assets/img/general/history-main.png" alt="history")
        .slider-info__item
          .slider-info__content
            h3.slider-info__title.title История «ЭспаДент» началась более 17 лет назад с одной зуботехнической лаборатории. 
            ul.slider-info__list.list-success.list-success--white
              li 
                b Первая клиника 
                | открылась в 2005 году по адресу Мишина 38. 
              li 
                b На данный момент 
                | у центра «Эспадент» есть 6 отделений в Москве.
              li 
                b Основными направлениями деятельности: 
                | протезирование по методике ALL-ON-4, одномоментная имплантация зубов, ортодонтия, художественная реставрация и отбеливание зубов. 
              li 
                b Проведено более 3 000 
                | успешных операций
              li 
                b Собственная лаборатория, 
                | укомплектованная CAD/CAM оборудованием
          .slider-info__img
            img(src="assets/img/general/history-main.png" alt="history")
        .slider-info__item
          .slider-info__content
            h3.slider-info__title.title История «ЭспаДент» началась более 17 лет назад с одной зуботехнической лаборатории. 
            ul.slider-info__list.list-success.list-success--white
              li 
                b Первая клиника 
                | открылась в 2005 году по адресу Мишина 38. 
              li 
                b На данный момент 
                | у центра «Эспадент» есть 6 отделений в Москве.
              li 
                b Основными направлениями деятельности: 
                | протезирование по методике ALL-ON-4, одномоментная имплантация зубов, ортодонтия, художественная реставрация и отбеливание зубов. 
              li 
                b Проведено более 3 000 
                | успешных операций
              li 
                b Собственная лаборатория, 
                | укомплектованная CAD/CAM оборудованием
          .slider-info__img
            img(src="assets/img/general/history-main.png" alt="history")
      .history__gallery-panel.gallery-panel#gallery-panel-history
        div
          .gallery-panel__item
            .gallery-panel__img
              img(src="assets/img/general/history1.png" alt="history")
        div
          .gallery-panel__item
            .gallery-panel__img
              img(src="assets/img/general/history2.png" alt="history")
        div
          .gallery-panel__item
            .gallery-panel__img
              img(src="assets/img/general/history3.png" alt="history")
        div
          .gallery-panel__item
            .gallery-panel__img
              img(src="assets/img/general/history4.png" alt="history")
        div
          .gallery-panel__item
            .gallery-panel__img
              img(src="assets/img/general/history5.png" alt="history")
        div
          .gallery-panel__item
            .gallery-panel__img
              img(src="assets/img/general/history6.png" alt="history")
        div
          .gallery-panel__item
            .gallery-panel__img
              img(src="assets/img/general/history6.png" alt="history")
      .history__section-header.section-header
        h2.title  
          | Мы в социальных сетях
        p.section-header__text 
          | Подписывайтесь на наши аккаунты, следите за выгодными предложениями
          br 
          | и задавайте вопросы. Мы всегда рады новым знакомствам!
      .history__social-list.social-list
        a.social-list__item(href="#")
          .social-list__icon
            +svg('fc', 'social-list__svg')
          .social-list__content
            p.social-list__name Facebook
            .social-list__success-item.success-item
              +obj('success-blue', 'success-item__svg')
              p.success-item__text 5 456 
        a.social-list__item.social-list__item--red(href="#")
          .social-list__icon
            +svg('yo', 'social-list__svg')
          .social-list__content
            p.social-list__name Youtube
            .social-list__success-item.success-item
              +obj('success-blue', 'success-item__svg')
              p.success-item__text 24 568 
        a.social-list__item.social-list__item--pink(href="#")
          .social-list__icon
            +svg('inst', 'social-list__svg')
          .social-list__content
            p.social-list__name Instagram
            .social-list__success-item.success-item
              +obj('success-blue', 'success-item__svg')
              p.success-item__text 80 145
        a.social-list__item(href="#")
          .social-list__icon
            +svg('vk', 'social-list__svg')
          .social-list__content
            p.social-list__name Вконтакте
            .social-list__success-item.success-item
              +obj('success-blue', 'success-item__svg')
              p.success-item__text 14 456 
      .history__gallery-line.gallery-line
        div
          .gallery-line__item
            a.gallery-line__img(data-fancybox href="assets/img/general/gallery1.png")
              img(src="assets/img/general/gallery1.png" alt="gallery")
            a.gallery-line__like.like(href="#")
              +svg('like', 'like__svg')
              p.like__text 456
        div
          .gallery-line__item
            a.gallery-line__img(data-fancybox href="assets/img/general/gallery2.png")
              img(src="assets/img/general/gallery2.png" alt="gallery")
            a.gallery-line__like.like(href="#")
              +svg('like', 'like__svg')
              p.like__text 943
        div
          .gallery-line__item
            a.gallery-line__img(data-fancybox href="assets/img/general/gallery3.png")
              img(src="assets/img/general/gallery3.png" alt="gallery")
            a.gallery-line__like.like(href="#")
              +svg('like', 'like__svg')
              p.like__text 1050
        div
          .gallery-line__item
            a.gallery-line__img(data-fancybox href="assets/img/general/gallery4.png")
              img(src="assets/img/general/gallery4.png" alt="gallery")
            a.gallery-line__like.like(href="#")
              +svg('like', 'like__svg')
              p.like__text 943