- var menu = [
-   {
-     name: 'Home',
-     link: "/"
-   },
-   {
-     name: 'About',
-     link: "#"
-   },
-   {
-     name: 'Expertise',
-     link: "#"
-   },
-   {
-     name: 'Teams',
-     link: "#"
-   },
-   {
-     name: 'Works',
-     link: "#"
-   },
-   {
-     name: 'People say',
-     link: "#"
-   },
-   {
-     name: 'Contact',
-     link: "#"
-   },
-   {
-     name: 'Expertise',
-     link: "#"
-   },
-   {
-     name: 'Teams',
-     link: "#"
-   },
-   {
-     name: 'Works',
-     link: "#"
-   },
-   {
-     name: 'People say',
-     link: "#"
-   },
-   {
-     name: 'Contact',
-     link: "#"
-   },
-   {
-     name: 'Expertise',
-     link: "#"
-   },
-   {
-     name: 'Teams',
-     link: "#"
-   },
-   {
-     name: 'Works',
-     link: "#"
-   },
-   {
-     name: 'People say',
-     link: "#"
-   },
-   {
-     name: 'Contact',
-     link: "#"
-   },
-   {
-     name: 'Expertise',
-     link: "#"
-   },
-   {
-     name: 'Teams',
-     link: "#"
-   },
-   {
-     name: 'Works',
-     link: "#"
-   },
-   {
-     name: 'People say',
-     link: "#"
-   },
-   {
-     name: 'Contact',
-     link: "#"
-   }
- ];

.header
  .container
    .row
      .col-12.header__inner
        a.header__logo.logo(href="/")
          figure.logo__img
            img(src="assets/img/content/logo.png" alt="logo")
        nav.nav.header__nav
          each item, index in menu.length ? menu : ['There are no values']
            if index == 0
              li.nav__item.nav__item--current
                a(href!=item.link)= item.name
            else
              li.nav__item
                a(href!=item.link)= item.name
        .header__burger.burger
          .burger__item
        ul.menu-mobile
          .menu-mobile__wrap
            each item, index in menu.length ? menu : ['There are no values']
              if index == 0
                li.menu-mobile__item.menu-mobile__item--current
                  a(href!=item.link)= item.name
              else
                li.menu-mobile__item
                  a(href!=item.link)= item.name
