mixin expertise-card(index, title)
  .expertise-card
    .expertise-card__img
      .icon(class!="icon-expertise" + index)
    .expertise-card__textContent
      h3= title
      p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
