.features
  background-image: linear-gradient(109.14deg, #F3F7FB -4.47%, #DEE8F4 97.39%)
  padding: 124px 0 36px
  &__safety-list
    margin-bottom: 80px
    margin-top: 32px
    &:last-child
      margin-bottom: 0
  &__list
    margin-top: 50px
    display: flex
    flex-wrap: wrap
  &__item
    width: calc((100% - 25px * 3) / 4)
    margin-right: 25px
    margin-bottom: 33px
    &:nth-child(4n)
      margin-right: 0
    
.safety-list
  display: flex
  &__item
    width: calc((100% - 25px * 2) / 3)
    margin-right: 25px
    &:nth-child(3n)
      margin-right: 0