.features-line
  .wrap
    .features-line__list
      .features-line__item
        .features-line__img
          +obj2('features1')
        .features-line__content
          p.features-line__title Комфортные зоны отдыха
          p.features-line__text где вы сможете расслабиться и восстановиться
      .features-line__item
        .features-line__img
          +obj2('features2')
        .features-line__content
          p.features-line__title Полный комплекс услуг
          p.features-line__text 
            | позволит полностью выле-
            br
            | читься в нашей клинике
      .features-line__item
        .features-line__img
          +obj2('features3')
        .features-line__content
          p.features-line__title Современное оборудование
          p.features-line__text помогает проводить операции профессионально