section.section.features
  .wrap
    .section__section-header.section-header.section-header--left
      h2.section-header__title.title  
        | Ваша безопасность — 
        br
        | наш абсолютный приоритет!
      .section-header__block
        p.section-header__text В сети наших стоматологических центров «ЭспаДент» мы принимаем все необходимые меры профилактики, призванные обезопасить наших пациентов от любых рисков связанных с коронавирусом. Вы можете смело приходить к нам на приём, соблюдая все меры предосторожности по дороге, потому что:
  .features__block
    .wrap
      .features__safety-list.safety-list
        div
          +card2('Врачи', 'Каждый наш врач проходит осмотр два раза в день: измеряем температуру, проводим обследование общего состояния', 'pluse', 'safety-list__item')
        div
          +card2('Клиники', 'Мы проводим дезинфекцию клиник каждые 2 часа: уборка и протирание дезинфекционными средствами, полная стерильность', 'map', 'safety-list__item', 'orange')
        div
          +card2('Поддержка', 'Помимо всех предложений и скидок до мы даем 5% дополнительной скидки на все наши предложения, в т.ч. акции для того, чтобы поддержать Вас в трудное время', 'percent', 'safety-list__item', 'pink')
      .section__section-header.section-header
        h2.title  
          | Почему нас выбрали
          br
          | более 120 000 пациентов
        a.section-header__link.link(href="#") Отзывы (1275)
      .features__list
        .features__item
          +card-features('Врачи высшей категории', 'features1')
        .features__item
          +card-features('Сертифициро-ванные материалы ', 'features2')
        .features__item
          +card-features('Новейшее оборудование', 'features3')
        .features__item
          +card-features('Более 2 000 отзывов', 'features4')
        .features__item
          +card-features('Комфорт и высокий сервис', 'features5')
        .features__item
          +card-features('Доступные цены и рассрочка от клиники', 'features8')
        .features__item
          +card-features('Пожизненная гарантия', 'features6')
        .features__item
          +card-features('Клиники с 2003 года', 'features7')
