section.comments.section
  .wrap
    .comments__section-header.section-header
      h2.section-header__title.title Наши довольные пациенты
  .comments__slider
    .comments__item
      .wrap
        .comments__inner
          .comments__left
            a.comments__more(href="#") Отзывы(1275)
            p.comments__name Аркадий Иванов
            h3.comments__title Зубы за 1 день «All-on-4»
            .comments__text-block
              p — Я наконец-то забыл, что такое пародонтит! Все прошло прекрасно, мои зубы меня радуют! 
              p - текст рыба
            a.comments__btn.btn.btn--white(href="#") Смотреть отзыв
          .comments__img
            img(src="assets/img/general/comment.png" alt="comment")
          .comments__right.consultant
            p.consultant__text Только до 31 декабря!
            p.consultant__title
              | Запишитесь
              br
              | на бесплатную 
              br
              | консультацию с КТ
            a.consultant__btn.btn.btn--fill(href="#") Бесплатная консультация
    .comments__item
      .wrap
        .comments__inner
          .comments__left
            a.comments__more(href="#") Отзывы(1275)
            p.comments__name Аркадий Иванов
            h3.comments__title Зубы за 1 день «All-on-4»
            .comments__text-block
              p — Я наконец-то забыл, что такое пародонтит! Все прошло прекрасно, мои зубы меня радуют! 
              p - текст рыба
            a.comments__btn.btn.btn--white(href="#") Смотреть отзыв
          .comments__img
            img(src="assets/img/general/comment.png" alt="comment")
          .comments__right.consultant
            p.consultant__text Только до 31 декабря!
            p.consultant__title
              | Запишитесь
              br
              | на бесплатную 
              br
              | консультацию с КТ
            a.consultant__btn.btn.btn--fill(href="#") Бесплатная консультация
    .comments__item
      .wrap
        .comments__inner
          .comments__left
            a.comments__more(href="#") Отзывы(1275)
            p.comments__name Аркадий Иванов
            h3.comments__title Зубы за 1 день «All-on-4»
            .comments__text-block
              p — Я наконец-то забыл, что такое пародонтит! Все прошло прекрасно, мои зубы меня радуют! 
              p - текст рыба
            a.comments__btn.btn.btn--white(href="#") Смотреть отзыв
          .comments__img
            img(src="assets/img/general/comment.png" alt="comment")
          .comments__right.consultant
            p.consultant__text Только до 31 декабря!
            p.consultant__title
              | Запишитесь
              br
              | на бесплатную 
              br
              | консультацию с КТ
            a.consultant__btn.btn.btn--fill(href="#") Бесплатная консультация
  .comments__comments-panel
    .comments__slick-arrows.slick-arrows#comments-slick-arrows
      button.slick-arrows__arrow.slick-arrows__left
        +svg('arrow3', 'slick-arrows__svg')
      button.slick-arrows__arrow.slick-arrows__right
        +svg('arrow3', 'slick-arrows__svg')
    .comments-panel
      div
        .comments-panel__item
          img(src="assets/img/general/comment2.png")
      div
        .comments-panel__item
          img(src="assets/img/general/comment2.png")
      div
        .comments-panel__item
          img(src="assets/img/general/comment1.png")
      div
        .comments-panel__item
          img(src="assets/img/general/comment2.png")
      div
        .comments-panel__item
          img(src="assets/img/general/comment2.png")
      div
        .comments-panel__item
          img(src="assets/img/general/comment1.png")
      div
        .comments-panel__item
          img(src="assets/img/general/comment2.png")
      div
        .comments-panel__item
          img(src="assets/img/general/comment2.png")
      div
        .comments-panel__item
          img(src="assets/img/general/comment1.png")
  p.comments__comment-text 
    | Более 1 500 отзывов 
    br
    | и счастливых улыбок >
