.whyarewe
  padding: 36px 0 77px
  +min(540)
    padding: 67px 0 87px
  +min(991)
    padding: 112px 0 115px
  &__section-header
    margin-bottom: 14px
    +min(540)
      margin-bottom: 21px
    +min(991)
      margin-bottom: 41px
  .slick-slide
    padding: 16px 4px 0px
    +min(768)
      padding: 15px 15px 0px
  .slick-list
    margin-left: -4px
    margin-right: -4px
    +min(768)
      margin-left: -15px
      margin-right: -15px  
  .slick-track
    display: flex !important
  .slick-slide
    height: inherit !important
  .section-header__title
    +min(991)
      max-width: 214px