section.whyarewe.section
  .wrap
    .section__inner
      .whyarewe__section-header.section-header.section-header--left
        h2.section-header__title.title  
          | Лечиться у нас выгодно
        .section-header__block
          p.section-header__text.text-bg.text-bg--dark 
            span Сразу говорим конечную цену
          p.section-header__text Колл-центр работает в режиме 24/7! Подробно ответим на все вопросы и запишем к врачу в удобное для вас время.
      .whyarewe__list
        div
          +card('Гибкие цены', 'план лечения составляется под вас', 'star', 'whyarewe__item', 'blue')
        div
         +card('Рассрочка', 'можно разбить оплату на нес-колько платежей', 'success', 'whyarewe__item', 'red')
        div
          +card('Кредит', 'для экстренных ситуаций можно оформить кредит', 'percent', 'whyarewe__item', 'orange')