section.about.section
  .wrap
    .section__inner
      .about__text-content.text-content
        h2 Тут будет сео текст в виде “простыни”
        p Концепцию All-on-4 («Все-на-4») используют в Америке, Израиле и по всей Европе с 1998 года. Технология разработана швейцарская компанией Nobel Biocare – создателем первых в мире зубных имплантов, лидером мирового рынка инновационных разработок для имплантологии и эстетической стоматологии. – рыба
        p Концепцию All-on-4 («Все-на-4») используют в Америке, Израиле и по всей Европе с 1998 года. Технология разработана швейцарская компанией Nobel Biocare – создателем первых в мире зубных имплантов, лидером мирового рынка инновационных разработок для имплантологии и эстетической стоматологии. – рыба
        h2 О враче
        p Окончила Московский Государственный Медико-Стоматологический Университет. Интернатура по специальности «Стоматология общей практики». Клиническая ординатура по специальности "Стоматология хирургическая". Владеет методиками консервативного и хирургического лечения стоматологических заболеваний с использованием диодного лазера
        ul.list-circle
          li Член Российского Стоматологического Общества
          li Обучение по установке скуловых имплантатов (Италия)
          li Профессиональная стажировка в клинике И.Балана (Израиль)
        h2 О враче
        ul.list-success.list-success--white
          li Хирургическая стоматология
          li Дентальная имплантология (Nobel, Noris, Dentium, Alpha-Bio, Superline, ASD и др.)  
          li Хирургическая предимплантационная подготовка
          li Пародонтология
      .about__text-content.text-content.about__text-content--mobile
        p Концепцию All-on-4 («Все-на-4») используют в Америке, Израиле и по всей Европе с 1998 года. Технология разработана швейцарская компанией Nobel Biocare – создателем первых в мире зубных имплантов, лидером мирового рынка инновационных разработок для имплантологии и эстетической стоматологии. Создателем первых в мире зубных имплантов, лидером мирового рынка. 
        ul.list-circle
          li Член Российского Стоматологического Общества
          li Обучение по установке скуловых имплантатов (Италия)
          li Профессиональная стажировка в клинике И.Балана (Израиль)