.about
  padding: 34px 0 48px
  background: linear-gradient(109.14deg, #F3F7FB -4.47%, #DEE8F4 97.39%)
  +min(768)
    padding: 71px 0 70px
    background: white
  &__text-content
    display: none
    +min(768)
      display: block
    &--mobile
      display: block
      +min(768)
        display: none