.promo.section.section--dark
  .container
    .row.promo__inner
      .col-12.section__title
        h1 We Are Awesome Creative Agency
      p.col-10.promo__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
      a.promo__link.btn(href="#") LEARN MORE