.news.section.section--dark.news--hidden-mobile
  .wrap
    .section__inner
      .section__section-header.section-header.mobile-swipe--ico
        h2.title Новости
        a.section-header__link.link(href="#")
          | Все новости
          +svg('arrow-right', 'link__arrow')
      .news__list
        a.news__link(href="#")
          .news__item
            .news__img
              img(src="assets/img/general/news1.png" alt="news")
            p.news__text 
              span «Любителям 
              br
              span кофе»
        a.news__link(href="#")
          .news__item
            .news__img
              img(src="assets/img/general/news2.png" alt="news")
            p.news__text 
              span Что такое All-on-4 и почему это
              br
              span стало таким популярным?
        a.news__link(href="#")
          .news__item
            .news__img
              img(src="assets/img/general/news3.png" alt="news")
            p.news__text 
              span Эмаль не вечна? 
              br
              span Частые ошибки  чистки зубов