.works
  &__more
    color: #413d4b
    font-family: Roboto
    font-size: 14px
    font-weight: 300
    // Text style for "See All Pr"
    letter-spacing: 0.7px
    display: flex
    align-items: center
    transition: color $trst
    +min(300)
      font-size: 12px
      margin-top: 5px
    +min(350)
      margin-top: 0px
    &-arrow
      border: 1px solid #413d4b
      border-top-color: transparent
      border-left-color: transparent
      transform: rotate(-45deg)
      width: 9px
      height: 9px
      margin-left: 10px
      border-radius: 2px
      transition: border $trst
      margin-bottom: 2px
      +min(300)
        margin-left: 5px
    &:hover
      color: $blue
      .works__more-arrow
        border-color: $blue
        border-top-color: transparent
        border-left-color: transparent
  &__header
    display: flex
    justify-content: space-between
    align-items: center
    +min(300)
      flex-direction: column
      align-items: flex-start
    +min(350)
      flex-direction: row
  &__footer
    text-align: center
  &__list
    margin-top: 70px 
    margin-bottom: 70px 
    padding: 0
    overflow: hidden
    max-width: 1600px
    +min(300)
      margin-top: 30px
      margin-bottom: 35px
    +min(350)
      margin-top: 40px
    +min(768)
      margin-top: 60px
      margin-bottom: 60px
    +min(992)
      margin-top: 70px 
      margin-bottom: 70px 
    .row
      margin: 0
  &__item
    font-size: 0
    line-height: 0
    padding: 0
    position: relative
    overflow: hidden
    +min(300)
      padding-top: 24.8%
    +min(576)
      padding-top: 18.5%
    +min(992)
      padding-top: 12.5%
    img
      width: 100%
      +absolute-center()
      transition: transform $trst
    &:hover
      img
        transform: translate(-50%, -50%) scale(1.2)