.works.section
  .container
    .row
      .col-12.works__header
        h2.works__title OUR WORKS
        a.works__more(href="#")
          | See All Project in dribbble
          .works__more-arrow
  .container-fluid.works__list
    .row
      .col-2.works__item
        img(src="assets/img/general/work.png" alt="works")
      .col-2.works__item
        img(src="assets/img/general/work1.png" alt="works")
      .col-2.works__item
        img(src="assets/img/general/work2.png" alt="works")
      .col-2.works__item
        img(src="assets/img/general/work3.png" alt="works")
      .col-2.works__item
        img(src="assets/img/general/work4.png" alt="works")
      .col-2.works__item
        img(src="assets/img/general/work5.png" alt="works")
      .col-2.works__item
        img(src="assets/img/general/work6.png" alt="works")
      .col-2.works__item
        img(src="assets/img/general/work7.png" alt="works")
      .col-2.works__item
        img(src="assets/img/general/work8.png" alt="works")
      .col-2.works__item
        img(src="assets/img/general/work9.png" alt="works")
      .col-2.works__item
        img(src="assets/img/general/work10.png" alt="works")
      .col-2.works__item
        img(src="assets/img/general/work11.png" alt="works")
  .container
    .row
      .col-12.works__footer
        a.works__link.btn(href="#") LEARN MORE