extends ~_layout/main

block head
  - var title = 'webpack'
  - var bodyClass = ''
  - var wrapClass = ''
block content
  include ~_module/header/header
  include ~_module/promo/promo
  
block foot
  include ~_module/footer/footer