extends ~_layout/main

block head
  - var title = 'webpack'
  - var bodyClass = ''
  - var wrapClass = ''
block content
  include ~_module/header/header
  include ~_module/promo/promo
  include ~_module/our-story/our-story
  include ~_module/our-story-video/our-story-video
  include ~_module/expertise/expertise
  include ~_module/team/team
  
block foot
  include ~_module/footer/footer