.promo-slider
  .promo-slider__nav
    .wrap
      .promo-slider__nav-inner
        a.promo-slider__link(href="") Услуги
        a.promo-slider__link(href="") Цены
        a.promo-slider__link(href="") Клиники
  a.btn.btn--fill.promo-slider__btn.promo-slider__btn--mobile(href="#") Заказать
  .promo-slider__list
    .promo-slider__item-wrap
      .wrap
        .promo-slider__item
          .promo-slider__img
            img(src="assets/img/general/promo.png" alt="promo")
          .promo-slider__content
            h2.promo-slider__title 
              span Имлантация «Nobel»
              .icon-pluse
                img(src="assets/img/content/pluse.png" alt="icon")
            .promo-slider__pluse-list.pluse-list
              .pluse-list__status-list.status-list
                .status-list__item
                  object.status-list__icon(type="image/svg+xml" data="assets/img/content/favourite.svg")
                  | Лучшая цена
                .status-list__price.price
                  p.price__current.text-bg--white
                    span 65 000 ₽
                  .price__old 98 000 ₽
              ul.list-success
                li Под ключ
                li Имплант Nobel +коронка из металлокерамики
                li Бесплатная консультация с КТ
                li Снятие слепка или цифровое сканирование
            .promo-slider__price.price
              .price__current 65 000 ₽
              .price__old 98 000 ₽
              .price__discount.discount
                object.discount__bg(type="image/svg+xml" data="assets/img/content/price-bg.svg")
                | -30%
            a.btn.btn--fill.promo-slider__btn(href="#") Заказать
    .promo-slider__item-wrap
      .wrap
        .promo-slider__item
          .promo-slider__img
            img(src="assets/img/general/promo.png" alt="promo")
          .promo-slider__content
            h2.promo-slider__title 
              span Имлантация «Nobel»
              .icon-pluse
                img(src="assets/img/content/pluse.png" alt="icon")
            .promo-slider__pluse-list.pluse-list
              .pluse-list__status-list.status-list
                .status-list__item
                  object.status-list__icon(type="image/svg+xml" data="assets/img/content/favourite.svg")
                  | Лучшая цена
                .status-list__price.price
                  p.price__current.text-bg--white
                    span 65 000 ₽
                  .price__old 98 000 ₽
              ul.list-success
                li Под ключ
                li Имплант Nobel +коронка из металлокерамики
                li Бесплатная консультация с КТ
                li Снятие слепка или цифровое сканирование
            .promo-slider__price.price
              .price__current 65 000 ₽
              .price__old 98 000 ₽
              .price__discount.discount
                object.discount__bg(type="image/svg+xml" data="assets/img/content/price-bg.svg")
                | -30%
            a.btn.btn--fill.promo-slider__btn(href="#") Заказать
    .promo-slider__item-wrap
      .wrap
        .promo-slider__item
          .promo-slider__img
            img(src="assets/img/general/promo.png" alt="promo")
          .promo-slider__content
            h2.promo-slider__title 
              span Имлантация «Nobel»
              .icon-pluse
                img(src="assets/img/content/pluse.png" alt="icon")
            .promo-slider__pluse-list.pluse-list
              .pluse-list__status-list.status-list
                .status-list__item
                  object.status-list__icon(type="image/svg+xml" data="assets/img/content/favourite.svg")
                  | Лучшая цена
                .status-list__price.price
                  p.price__current.text-bg--white
                    span 65 000 ₽
                  .price__old 98 000 ₽
              ul.list-success
                li Под ключ
                li Имплант Nobel +коронка из металлокерамики
                li Бесплатная консультация с КТ
                li Снятие слепка или цифровое сканирование
            .promo-slider__price.price
              .price__current 65 000 ₽
              .price__old 98 000 ₽
              .price__discount.discount
                object.discount__bg(type="image/svg+xml" data="assets/img/content/price-bg.svg")
                | -30%
            a.btn.btn--fill.promo-slider__btn(href="#") Заказать