section.quotation.section
  .wrap
    .quotation__inner
      .quotation__content
        h2.quotation__title «На первичном осмотре пациент жаловался на острую боль»
        p.quotation__text Белые зубы это не только эстетическая сторона. Открытая улыбка располагает к себе собеседника и придает уверенность своему обладателю.Белые зубы это не только эстетическая сторона. Открытая улыбка располагает к себе собеседника и придает уверенность своему обладателю.» Белые зубы это не только эстетическая сторона. Открытая улыбка располагает к себе собеседника и придает уверенность своему обладателю.Белые зубы это не только эстетическая сторона. Открытая улыбка располагает к себе собеседника и придает уверенность своему обладателю.»
        p.quotation__author
          | Генеральный директор ЭспаДент,
          br
          | Меркушев Сергей Леонидович
        +svg('quety', 'quotation__quety')
      .quotation__img
        img(src="assets/img/general/quotation.png" alt="quotation")