footer.footer.section
  .wrap
    .footer__inner
      .footer__top
        h3.footer__title.title Клиника
        .footer__content
          .footer-links.footer__item--big
            .footer-links__block.footer__item--big
              a.footer-links__link.link(href="#") Врачи
              a.footer-links__link.link(href="#") Отзывы
              a.footer-links__link.link(href="#") До и после
              a.footer-links__link.link(href="#") Цены
              a.footer-links__link.link(href="#") Медицинский туризм
            .footer-links__block.footer__item--big
              a.footer-links__link.link(href="#") О клинике
              a.footer-links__link.link(href="#") Клиники
              a.footer-links__link.link(href="#") Блог
              a.footer-links__link.link(href="#") Новости
          .footer__list-contacts.list-contacts.footer__item
            .list-contacts__item
              a.list-contacts__tel.link(href="tel:+74993703799")
                span +7 499 
                | 370 37 99
              p.list-contacts__text Москва
            .list-contacts__item
              a.list-contacts__tel.link(href="tel:88000000000") 8 800 000 00 00
              p.list-contacts__text Регионы
          .social-icons.footer__item
            h3.social-icons__title Мы в соцсетях
            .social-icons__list
              a.social-icons__item.blue(href="#")
                +obj('icon-fc', 'social-icons__svg')
              a.social-icons__item.pink(href="#")
                +obj('icon-inst', 'social-icons__svg')
              a.social-icons__item.blue(href="#")
                +obj('icon-vk', 'social-icons__svg')
              a.social-icons__item.pink(href="#")
                +obj('icon-youtube', 'social-icons__svg')
            p.social-icons__text Подпишись на обновления
      .footer__nav
        h3.footer__title.title Услуги
        .footer__content
          .footer__footer-links.footer-links.footer-links--nav
            .footer-links__block.footer__item.dropdown
              .dropdown__open.footer-links__head
                a.footer-links__category.link(href="#") Имплантация
                +svg('arrow-down', 'dropdown__arrow footer-links__arrow')
              .dropdown__content.footer-links__content
                a.footer-links__link.link(href="#") Зубы за 1 день
                a.footer-links__link.link(href="#") All-on-4
                a.footer-links__link.link(href="#") Одномоментная имплантация
                a.footer-links__link.link(href="#") Скуловая имплантация Zygoma
                a.footer-links__link.link(href="#") Дентальная имплантация
                a.footer-links__link.link(href="#") Trefoil
            .footer-links__block.footer__item.dropdown
              .dropdown__open.footer-links__head
                a.footer-links__category.link(href="#") Протезирование
                +svg('arrow-down', 'dropdown__arrow footer-links__arrow')
              .dropdown__content.footer-links__content
                a.footer-links__link.link(href="#") Несъемные зубные протезы
                a.footer-links__link.link(href="#") Съемные зубные протезы
                a.footer-links__link.link(href="#") Протезирование на имплантах
                a.footer-links__link.link(href="#") Протезирование всей челюсти
                a.footer-links__link.link(href="#") Зубные коронки
            .footer-links__block.footer__item.dropdown
              .dropdown__open.footer-links__head
                a.footer-links__category.link(href="#") Лечение зубов
                +svg('arrow-down', 'dropdown__arrow footer-links__arrow')
              .dropdown__content.footer-links__content
                a.footer-links__link.link(href="#") Лечение кариеса
                a.footer-links__link.link(href="#") Лечение каналов
                a.footer-links__link.link(href="#") Лечение пульпита
                a.footer-links__link.link(href="#") Удаление кисты зуба
                a.footer-links__link.link(href="#") Лечение периодонтита
            .footer-links__block.footer__item.dropdown
              .dropdown__open.footer-links__head
                a.footer-links__category.link(href="#") Удаление зуба
                +svg('arrow-down', 'dropdown__arrow footer-links__arrow')
              .dropdown__content.footer-links__content
                a.footer-links__link.link(href="#") Удаление зуба мудрости
                a.footer-links__link.link(href="#") Удаление зуба
                a.footer-links__link.link(href="#") Сложное удаление зуба
                a.footer-links__link.link(href="#") Удаление коренного зуба
            .footer-links__block.footer__item.footer-links__block--last
              .footer-links__head
                a.footer-links__category.link(href="#") Элайнеры
              .footer-links__head
                a.footer-links__category.link(href="#") Виниры
            .footer-links__block.footer__item.dropdown
              .dropdown__open.footer-links__head
                a.footer-links__category.link(href="#") Брекеты
                +svg('arrow-down', 'dropdown__arrow footer-links__arrow')
              .dropdown__content.footer-links__content
                a.footer-links__link.link(href="#") Металлические
                a.footer-links__link.link(href="#") Керамические
                a.footer-links__link.link(href="#") Сапфировые
            .footer-links__block.footer__item.dropdown
              .dropdown__open.footer-links__head
                a.footer-links__category.link(href="#") Диагностика
                +svg('arrow-down', 'dropdown__arrow footer-links__arrow')
              .dropdown__content.footer-links__content
                a.footer-links__link.link(href="#") Компьютерная томография
                a.footer-links__link.link(href="#") Панорамный снимок
            .footer-links__block.footer__item.dropdown
              .dropdown__open.footer-links__head
                a.footer-links__category.link(href="#") Чистка зубов
                +svg('arrow-down', 'dropdown__arrow footer-links__arrow')
              .dropdown__content.footer-links__content
                a.footer-links__link.link(href="#") Air Flow + ультразвук
                a.footer-links__link.link(href="#") Удаление зубного камня
                a.footer-links__link.link(href="#") Ультразвуковая чистка зубов
                a.footer-links__link.link(href="#") Air Flow 
      .footer__bottom
        .footer__item.footer__copyright
          p
            | © «Эспадент». 2019 
            br
            | Все права защищены
        .footer__item.footer__others-links.other-links
          a.other-links__link.other-links__link--mobile.text-underline--hover(href="#") 
            span Лицензии
          a.other-links__link.other-links__link--mobile.text-underline--hover(href="#") 
            span Реквизиты
          a.other-links__link.footer__link.text-underline(href="#")
            span 
              | Политика обработки 
              br
              | персональных данных
        .footer__item
          a.footer__logo.logo(href="/")
            +obj('logo', 'logo__svg logo__svg--big')
        .footer__item.footer__info 
          p
            | Лицензия № ЛО-77-01-017996 
            br
            | от 29.04.2019 для ООО «Имплант-24»
