section.rating.section
  .wrap
    .section__inner
      .rating__section-header.section-header.section-header--left
        h2.title  
          | К нам едут со всего мира! 
        .section-header__block
          p.section-header__text.text-bg
            span Лечение зубов это то с чем нельзя задерживатся.
            br
            | Характер заболеваний зубов таков, что само ничего не проходит. — рыба лечение зубов это то с чем нельзя задерживатся. Характер заболеваний зубов таков, что само ничего не проходит. — рыба.
      .rating__steps-global-client.steps-global-client
        .steps-global-client__item
          +obj2('infly', 'steps-global-client__obj')
          p.steps-global-client__text 
            | Встретим вас
            br
            | по прибытию
        .steps-global-client__item
          +obj2('hotel', 'steps-global-client__obj')
          p.steps-global-client__text 
            | Доставим 
            br
            | в гостиницу
        .steps-global-client__item
          +obj2('clinic', 'steps-global-client__obj')
          p.steps-global-client__text 
            | Привезём 
            br
            | в клинику
        .steps-global-client__item
          +obj2('car', 'steps-global-client__obj')
          p.steps-global-client__text 
            | После лечения отвезём 
            br
            | в гостиницу
        .steps-global-client__item
          +obj2('outfly', 'steps-global-client__obj')
          p.steps-global-client__text Проводим до отъезда
      .rating__section-header.section-header
        h2.title Независимые рейтинги
        .section-header__block.section-header__block--mobile
          p.section-header__text
            | Многие сталкивались с такими проблемами, но не верили что медициной можно исправить их без особый сложностей. Поэтому приходите к нам на консультацию если вам знакомы такие проблемы, как:
        a.section-header__link.link(href="#")
          | Отзывы пациентов
          +svg('arrow-right', 'link__arrow')
      .rating__list
        a.rating__item(href="#")
          .rating__info
            span 5.0
            sup  / 5
          .rating__img
            img(src="assets/img/general/company1.png" alt="company")
        a.rating__item(href="#")
          .rating__info
            span 4.8
            sup  / 5
          .rating__img
            img(src="assets/img/general/company2.png" alt="company")
        a.rating__item(href="#")
          .rating__info
            span 25+ / 1-
          .rating__img
            img(src="assets/img/general/company3.png" alt="company")
        a.rating__item(href="#")
          .rating__info
            span 5.0
            sup  / 5
          .rating__img
            img(src="assets/img/general/company4.png" alt="company")
        a.rating__item(href="#")
          .rating__info
            span 4.49
            sup  / 5
          .rating__img
            img(src="assets/img/general/company5.png" alt="company")
        a.rating__item(href="#")
          .rating__info
            span 4.8
            sup  / 5
          .rating__img
            img(src="assets/img/general/company6.png" alt="company")