.modal.modal-video#modal-video
  .container.modal__inner
    .modal__close.close
      .close__icon
        +svg('close')
    .row
      .col-12
        .modal-video__video
          video(
            class="video-js vjs-theme-fantasy"
            controls
            preload="auto"
            data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=KvUgaHTNit4"}] }'
            )
.hidden-content