.our-story-video.section.section--dark
  .container
    .row.our-story-video__inner
      button.our-story-video__play.modal-open(data-open-modal="video")
        +svg('play', 'our-story-video__play-svg')
      p.our-story-video__text-play WATCH OUR STORY