.our-story-video.section.section--dark
  .container
    .row.our-story-video__inner.justify-content-md-center
      button.our-story-video__play
        +svg('play', 'our-story-video__play-svg')
      .col-12
        p.our-story-video__text-play WATCH OUR STORY