.our-story-video
  background-image: url(~_images/content/poster.png)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  +min(300)
    padding: 120px 0 100px
  +min(576)
    padding: 145px 0 150px
  +min(768)
    padding: 165px 0 170px
  +min(992)
    padding: 202px 0 195px
  &__play
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    transition: border $trst, opacity $trst
    +min(300)
      width: 75px
      height: 75px
      border: 2px solid #ffffff
      margin-bottom: 22px
    +min(576)
      width: 100px
      height: 100px
      border: 3px solid #ffffff
      margin-bottom: 27px
    &-svg
      fill: white
      transition: fill $trst
      +min(300)
        +size(27, 35)
        margin-left: 3px
      +min(576)
        +size(37, 45)  
        margin-left: 5px
    &:hover
      border-color: $blue
      & + .our-story-video__text-play
        color: $blue
        animation: none
      .our-story-video__play-svg
        fill: $blue
    &:active
      opacity: .7
  &__text-play
    font-weight: 800
    color: white
    text-transform: uppercase
    letter-spacing: 0.8px
    animation: blink1 3s linear infinite
    transition: color $trst
    +min(300)
      font-size: 14px
    +min(576)
      font-size: 16px
  &__inner
    flex-direction: column
    align-items: center
    text-align: center
    
@keyframes blink1 
  0% 
    opacity: 1
  50% 
    opacity: .5
  100% 
    opacity: 1
