section.documents.section
  .wrap
    .aection__inner.documents__inner
      .documents__content
        h2.documents__title.title 
          | Дипломы 
          br
          | и награды 
        p Награды, дипломы, премии — мы гордимся и дорожим своей репутацией!
        .documents__slick-arrows.slick-arrows#documents-slick-arrows
          button.slick-arrows__arrow.slick-arrows__left
            +svg('arrow3', 'slick-arrows__svg')
          button.slick-arrows__arrow.slick-arrows__right
            +svg('arrow3', 'slick-arrows__svg')
      .documents__list
        .documents__item
          .documents__img
            img(src="assets/img/general/documents1.png" alt="documents")
          p.documents__text 
            | Клиника года 2016 
            br
            | в Московском регионе
        .documents__item
          .documents__img
            img(src="assets/img/general/documents2.png" alt="documents")
          p.documents__text 
            | Лучший международный стоматологический центр
        .documents__item
          .documents__img
            img(src="assets/img/general/documents3.png" alt="documents")
          p.documents__text 
            | Сертификация 
            br
            | Dentium
        .documents__item
          .documents__img
            img(src="assets/img/general/documents3.png" alt="documents")
          p.documents__text 
            | Сертификация 
            br
            | Dentium
        .documents__item
          .documents__img
            img(src="assets/img/general/documents3.png" alt="documents")
          p.documents__text 
            | Сертификация 
            br
            | Dentium