section.doctors.section
  .wrap
    .doctors__inner
      .doctors__section-header.section-header.mobile-swipe--ico
        h2.doctors__title.title Наши врачи
      .doctors__tabs.tabs
        .tabs__list
          div
            a.tabs__item(href="#") Все врачи
          div
            a.tabs__item(href="#") Cтоматолог-хирург
          div
            a.tabs__item(href="#") Cтоматолог-хирург
          div
            a.tabs__item.active(href="#") Cтоматолог-ортодонт
          div
            a.tabs__item(href="#") Cтоматолог-терапевт
          div
            a.tabs__item(href="#") Cтоматолог-АГА
      .doctors__line
        .doctors__doctors-panel.doctors-panel
          .doctors-panel__list
            div
              .card-person
                .card-person__content
                  p.card-person__name Кислица Николай Семенович
                .card-person__img
                  img(src="assets/img/general/person1.png" alt="person")
            div
              .card-person
                .card-person__content
                  p.card-person__name Закариев Заур Закариевич
                .card-person__img
                  img(src="assets/img/general/person1.png" alt="person")
            div
              .card-person
                .card-person__content
                  p.card-person__name Кирсанова Наталия Михайловна
                .card-person__img
                  img(src="assets/img/general/person1.png" alt="person")
            div
              .card-person
                .card-person__content
                  p.card-person__name Закариев Заур Закариевич
                .card-person__img
                  img(src="assets/img/general/person1.png" alt="person")
            div
              .card-person
                .card-person__content
                  p.card-person__name Кислица Николай Семенович
                .card-person__img
                  img(src="assets/img/general/person1.png" alt="person")
          .doctors-panel__slick-arrows.slick-arrows.slick-arrows--vertical#doctors-slick-arrows
            button.slick-arrows__arrow.slick-arrows__left
              +svg('arrow3', 'slick-arrows__svg')
            button.slick-arrows__arrow.slick-arrows__right
              +svg('arrow3', 'slick-arrows__svg')
        .doctors__list
          .doctors__item
            .doctor-block
              .doctor-block__content
                p.doctor-block__status Врач высшей категории 
                p.doctor-block__name 
                  | Кислица Николай Семёнович
                .doctor-block__line
                .doctor-block__mobile-block
                  p.doctor-block__text Стоматолог, терапевт, ортопед, хирург, имплантолог
                  .doctor-block__statistics.statistics
                    .statistics__item
                      p.statistics__value 4,92
                      p.statistics__text Рейтинг
                    .statistics__item
                      p.statistics__value 42 года
                      p.statistics__text Стаж
                    .statistics__item
                      p.statistics__value 5 240
                      p.statistics__text Операций
                a.doctor-block__btn.btn.btn--white(href="#") Записаться на приём
                .doctor-block__links
                  a.doctor-block__link(href="#") Подробнее о враче
                  a.doctor-block__link(href="#") Отзывы (75)
              .doctor-block__img
                img(src="assets/img/general/doctor-block.png" assets="doctor-block")
          .doctors__item
            .doctor-block
              .doctor-block__content
                p.doctor-block__status Врач высшей категории 
                p.doctor-block__name 
                  | Кислица Николай Семёнович
                .doctor-block__line
                .doctor-block__mobile-block
                  p.doctor-block__text Стоматолог, терапевт, ортопед, хирург, имплантолог
                  .doctor-block__statistics.statistics
                    .statistics__item
                      p.statistics__value 4,92
                      p.statistics__text Рейтинг
                    .statistics__item
                      p.statistics__value 42 года
                      p.statistics__text Стаж
                    .statistics__item
                      p.statistics__value 5 240
                      p.statistics__text Операций
                a.doctor-block__btn.btn.btn--white(href="#") Записаться на приём
                .doctor-block__links
                  a.doctor-block__link(href="#") Подробнее о враче
                  a.doctor-block__link(href="#") Отзывы (75)
              .doctor-block__img
                img(src="assets/img/general/doctor-block.png" assets="doctor-block")
          .doctors__item
            .doctor-block
              .doctor-block__content
                p.doctor-block__status Врач высшей категории 
                p.doctor-block__name 
                  | Кислица Николай Семёнович
                .doctor-block__line
                .doctor-block__mobile-block
                  p.doctor-block__text Стоматолог, терапевт, ортопед, хирург, имплантолог
                  .doctor-block__statistics.statistics
                    .statistics__item
                      p.statistics__value 4,92
                      p.statistics__text Рейтинг
                    .statistics__item
                      p.statistics__value 42 года
                      p.statistics__text Стаж
                    .statistics__item
                      p.statistics__value 5 240
                      p.statistics__text Операций
                a.doctor-block__btn.btn.btn--white(href="#") Записаться на приём
                .doctor-block__links
                  a.doctor-block__link(href="#") Подробнее о враче
                  a.doctor-block__link(href="#") Отзывы (75)
              .doctor-block__img
                img(src="assets/img/general/doctor-block.png" assets="doctor-block")
          .doctors__item
            .doctor-block
              .doctor-block__content
                p.doctor-block__status Врач высшей категории 
                p.doctor-block__name 
                  | Кислица Николай Семёнович
                .doctor-block__line
                .doctor-block__mobile-block
                  p.doctor-block__text Стоматолог, терапевт, ортопед, хирург, имплантолог
                  .doctor-block__statistics.statistics
                    .statistics__item
                      p.statistics__value 4,92
                      p.statistics__text Рейтинг
                    .statistics__item
                      p.statistics__value 42 года
                      p.statistics__text Стаж
                    .statistics__item
                      p.statistics__value 5 240
                      p.statistics__text Операций
                a.doctor-block__btn.btn.btn--white(href="#") Записаться на приём
                .doctor-block__links
                  a.doctor-block__link(href="#") Подробнее о враче
                  a.doctor-block__link(href="#") Отзывы (75)
              .doctor-block__img
                img(src="assets/img/general/doctor-block.png" assets="doctor-block")
          .doctors__item
            .doctor-block
              .doctor-block__content
                p.doctor-block__status Врач высшей категории 
                p.doctor-block__name 
                  | Кислица Николай Семёнович
                .doctor-block__line
                .doctor-block__mobile-block
                  p.doctor-block__text Стоматолог, терапевт, ортопед, хирург, имплантолог
                  .doctor-block__statistics.statistics
                    .statistics__item
                      p.statistics__value 4,92
                      p.statistics__text Рейтинг
                    .statistics__item
                      p.statistics__value 42 года
                      p.statistics__text Стаж
                    .statistics__item
                      p.statistics__value 5 240
                      p.statistics__text Операций
                a.doctor-block__btn.btn.btn--white(href="#") Записаться на приём
                .doctor-block__links
                  a.doctor-block__link(href="#") Подробнее о враче
                  a.doctor-block__link(href="#") Отзывы (75)
              .doctor-block__img
                img(src="assets/img/general/doctor-block.png" assets="doctor-block")