.our-story.section
  .container
    .row.our-story__inner
      picture.col-5.our-story__image
        img(src="/assets/img/content/our-story.png" alt="our-story")
      .col-7.our-story__content
        h2.our-story__title OUR STORY
        p.our-story__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
        p.our-story__text Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        a.promo__link.btn(href="#") LEARN MORE